.site-navbar {
  position: sticky;
}

.page-hero-image {
  -webkit-user-drag: none;
  border-radius: 100%;
}

.rendered-mdx .internal,a {
  color: #fb7299 !important;
  text-decoration: none !important;
}

.rendered-mdx .internal,a:hover {
  filter: brightness(1.2);
}

img.page-hero-image:hover {
  transform: scale(1.2) rotate(10deg);
  filter: drop-shadow(0px 0px 20px rgb(256, 0, 0));
}

img.page-hero-image {
  transition: all 0.4s ease-in-out;
}

td {
  vertical-align: middle !important;
}

td img {
  max-width: 10rem;
}
